<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Solar</title>
    <link rel="stylesheet" href="/css/Colors.css">
    <link rel="stylesheet" href="/css/Profile.css">
    <script src="/js/Script.js"></script>
    <link rel="shortcut icon" href="Icon.svg" type="image/x-icon">
</head>
<body>

    <form id="UpdateProfile" action="/NewClient" method="post">
        <div class="ProfileImgBG">
            <Button class="TopMenuBtn" type="button" onclick="RedirectForm('UpdateProfile', '/cLients', 'get')">
                <svg class="TopBtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><circle cx="12" cy="12" r="0" fill="currentColor"><animate fill="freeze" attributeName="r" begin="0.8s" dur="0.2s" values="0;2"/></circle><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="48" stroke-dashoffset="48" d="M4.25 14c0.89 3.45 4.02 6 7.75 6c4.42 0 8 -3.58 8 -8c0 -4.42 -3.58 -8 -8 -8c-2.39 0 -4.53 1.05 -6 2.71l-2 2.29"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="48;0"/></path><path fill="currentColor" stroke-width="1" d="M5.63 7.38l0 0l0 0l0 0z" opacity="0"><animate fill="freeze" attributeName="d" begin="0.6s" dur="0.2s" values="M5.63 7.38l0 0l0 0l0 0z;M5.63 7.38L3.5 5.25L3.5 9.5L7.75 9.5z"/><set fill="freeze" attributeName="opacity" begin="0.6s" to="1"/></path></g></svg>
                <p class="TopMenuBtnText">Regresar</p>
            </Button>
            <p class="Title">Agregar cliente</p>
        </div>
        
        <div class="Content">
            <Button type="button" class="NoBtn">
                <img class="ProfileImg" src="/assets/Profile.png" onclick="RedirectForm('UpdateProfile', '/', 'post')">
            </Button>
            <p class="Text">Nuevo cliente</p>
            <input name="Name" class="InputText" placeholder="Nombre" type="text">
            <input name="State" class="InputText" placeholder="Estado" type="text">
            <input name="Municipality" class="InputText" placeholder="Municipio" type="text">
            <input name="Locality" class="InputText" placeholder="Localidad" type="text">
            <input name="Street" class="InputText" placeholder="Calle" type="text">
            <input name="Phone" class="InputText" placeholder="Telefono" type="text">
            
            <input id="ClientType" style="display: none;" name="ClientType" class="InputText" placeholder="Telefono" type="text" value="Panel">
            <div class="ButtonsSection">
                <Button class="TopMenuBtn" type="button" onclick="SetVisible('PanelClient', 'IrrigationClient'); ChangeValue('ClientType', 'Panel')">
                    <svg class="TopBtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M32 100a12 12 0 0 1 12-12h8a12 12 0 0 1 0 24h-8a12 12 0 0 1-12-12m96-64a12 12 0 0 0 12-12v-8a12 12 0 0 0-24 0v8a12 12 0 0 0 12 12M65.77 54.74a12 12 0 1 0 17-17l-5.66-5.65a12 12 0 0 0-17 17Zm116 3.52a12 12 0 0 0 8.49-3.52l5.65-5.65a12 12 0 0 0-17-17l-5.66 5.65a12 12 0 0 0 8.49 20.49ZM192 100a12 12 0 0 0 12 12h8a12 12 0 0 0 0-24h-8a12 12 0 0 0-12 12M88 112a12 12 0 0 0 12-12a28 28 0 0 1 56 0a12 12 0 0 0 24 0a52 52 0 0 0-104 0a12 12 0 0 0 12 12m154.36 110.05A12 12 0 0 1 232 228H24a12 12 0 0 1-10.45-17.9l43-76A12 12 0 0 1 67 128h122a12 12 0 0 1 10.45 6.1l43 76a12 12 0 0 1-.09 11.95M182 152h-42v12h48.82Zm-108 0l-6.78 12H116v-12Zm-29.43 52H116v-16H53.61Zm166.86 0l-9-16H140v16Z"/></svg>
                    <p class="TopMenuBtnText">Cliente de panel</p>
                </Button>
                <Button class="TopMenuBtn" type="button" onclick="SetVisible('IrrigationClient', 'PanelClient'); ChangeValue('ClientType', 'Irrigation')">
                    <svg class="TopBtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 256 256"><path fill="currentColor" d="M205.41 159.07a60.9 60.9 0 0 1-31.83 8.86a71.7 71.7 0 0 1-27.36-5.66A55.55 55.55 0 0 0 136 194.51V224a8 8 0 0 1-8.53 8a8.18 8.18 0 0 1-7.47-8.25v-12.44l-38.62-38.62A52.5 52.5 0 0 1 63.44 176a45.8 45.8 0 0 1-23.92-6.67C17.73 156.09 6 125.62 8.27 87.79a8 8 0 0 1 7.52-7.52c37.83-2.23 68.3 9.46 81.5 31.25a46 46 0 0 1 6.45 28.48a4 4 0 0 1-6.89 2.43l-19.2-20.1a8 8 0 0 0-11.31 11.31l53.88 55.25c.06-.78.13-1.56.21-2.33a68.56 68.56 0 0 1 18.64-39.46l50.59-53.46a8 8 0 0 0-11.31-11.32l-49 51.82a4 4 0 0 1-6.78-1.74c-4.74-17.48-2.65-34.88 6.4-49.82c17.86-29.48 59.42-45.26 111.18-42.22a8 8 0 0 1 7.52 7.52c3 51.77-12.78 93.33-42.26 111.19"/></svg>
                    <p class="TopMenuBtnText">Cliente de riego</p>
                </Button>
            </div>
            <div style="display: flex;" id="PanelClient" class="ClientType">
                <p class="Text">Cliente de panel</p>
                <input name="Mail" class="InputText" placeholder="Correo" type="text">
                <input name="CFEService" class="InputText" placeholder="No. Servicio CFE" type="text">
            </div>
            
            <div style="display: none;" id="IrrigationClient" class="ClientType">
                <p class="Text">Cliente de riego</p>
                <textarea class="InputText" name="Reference" placeholder="Referencia"></textarea>
            </div>

            
            <p class="Text">Agrega tu contraseña para poder registrar al cliente</p>
            <div class="CenteredRow">
                <input name="VerifyPass" id="VerifyPass" name="VerifyPass" class="InputText Passguord" placeholder="Verificar" type="password">
                <button class="NoBtn" onclick="AlterVisiblePassword('VerifyPass')" type="button">
                    <svg class="SuperSmallIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m3 5l16 16M11.148 9.123a3 3 0 0 1 3.722 3.752M8.41 6.878C12.674 4.762 17.267 6.47 21 12c-1.027 1.521-2.119 2.753-3.251 3.696m-2.509 1.59C11.076 19.142 6.631 17.38 3 12c1.01-1.496 2.083-2.713 3.196-3.65"/></svg>
                </button>
            </div>
            
            <div class="ButtonsSection">
                <Button onclick="RedirectForm('UpdateProfile', '/NewClient', 'post')" class="TopMenuBtn" type="button">
                    <svg class="TopBtnIcon" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="20" stroke-dashoffset="20" d="M10 5c1.66 0 3 1.34 3 3c0 1.66 -1.34 3 -3 3c-1.66 0 -3 -1.34 -3 -3c0 -1.66 1.34 -3 3 -3Z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.4s" values="20;0"/></path><path stroke-dasharray="36" stroke-dashoffset="36" d="M10 14c4 0 7 2 7 3v2h-14v-2c0 -1 3 -3 7 -3Z"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.5s" dur="0.5s" values="36;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M18 11h4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.1s" dur="0.2s" values="6;0"/></path><path stroke-dasharray="6" stroke-dashoffset="6" d="M20 9v4"><animate fill="freeze" attributeName="stroke-dashoffset" begin="1.3s" dur="0.2s" values="6;0"/></path></g></svg>
                    <p class="TopMenuBtnText">Agregar</p>
                </Button>
            </div>
            <p class="WarningText"><%= Warning %></p>
        </div>
    </form>
    
</body>
</html>