<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesi칩n</title>
    <link rel="stylesheet" href="../css/Colors.css">
    <link rel="stylesheet" href="../css/Style.css">
</head>
<body>
    <div class="IMGBG">
        <form action="/main" method="post">
            <div class="CenteredPopup">
                <Div class="TitlePopUp">Inicio de sesi칩n</Div>
                <div class="Data">
                    <input class="InputText" placeholder="Correo" type="text">
                    <input class="InputText" placeholder="Contrase침a" type="password">
                    <Button type="submit" class="Btn">Iniciar sesi칩n</Button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>