<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="/css/Colors.css">
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="shortcut icon" href="Icon.png" type="image/x-icon">
    <script src="/js/Script.js"></script>
</head>
<body>
    <div class="IMGBG">
        <form id="Login" action="/SendPassword" method="post">
            <div class="CenteredPopup">
                <Div class="TitlePopUp">Recuperar contraseña</Div>
                <div class="DataCentered">
                    <input name="Mail" class="InputText" placeholder="Correo" type="text">
                    <p class="Text">Sera enviado un correo con la contraseña</p>
                    <Button type="submit" class="Btn">Enviar correo</Button>
                    <p class="WarningText"><%= Warning %></p>
                    <img class="LoginLogo" src="./assets/LogoBlanco.png" alt="">
                </div>
            </div>
        </form>
    </div>
</body>
</html>