:root {
    --Black: #363F44;
    --DarkBlue: #215A6D; 
    --Blue: #3CA2A2;
    --Green: #92C7A3;
    --White: #DFECE6;
    --TranslucentBlack: #0000007e;
    --ClearBlue: #AAC6DA;
    --Warning: yellow;

    --Border: 45px;
    --margin: 20px;
    --smallmargin: 10px;
    --fonts: 15px;
    --fontt: 20px;

    --MaxTableElement: 3000px;
    --MinTableElement: 170px;
    --Searcher: 10px;
}