
@font-face {
    font-family: 'Quicksand';
    src: url('../assets/fonts/Quicksand.otf');
}

body {
    font-family: "Quicksand", sans-serif;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
}

.NavBar {
    display: flex;
    position: fixed;
    height: 100%;
    background-color: var(--Black);
    z-index: 1;
}

.Window {
    display: flex;
    position: fixed;
    right: 0px;
    bottom: 0px;
    margin: var(--margin);
    z-index: 3;
}

.BtnAdd {
    display: flex;
    background-color: var(--Blue);
    border: none;
    border-radius: var(--Border);
    border-bottom-right-radius: 0px;
}

.BtnAdd:hover {
    background-color: var(--Green);
}

.BtnAdd:hover .BtnIcon {
    rotate: -360deg;
}

.BtnAdd:hover .MenuBtnText{
    width: 90px;
}

.TitleBG {
    background-color: var(--Black);
    margin: var(--margin);
    border-radius: var(--Border);
    align-items: center;
    justify-content: center;
}

.Content {
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    box-sizing: border-box;
    padding-left: 80px;
    transition: 0.5s;
}

.Title {
    color: var(--Green);
    font-size: var(--fontt);
    padding: var(--margin);
    text-align: center;
}

.BlackBG {
    position: fixed;
    background-color: var(--TranslucentBlack);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

#PopUp {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: end;
    justify-content: end;
}

.IMGBG {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/BGLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: brightness(0.3);
}

.CheckBoxContainer {
    display: flex;
}

.CheckBoxText {
    color: var(--Green);
}

.TextButton {
    color: var(--Green);
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    border: none;
}

.CenteredPopup {
    display: flex;
    bottom: 0;
    right: 0;
    background-color: var(--Black);
    margin: var(--margin);
    border-radius: var(--Border);
    flex-direction: column;
}

.AddPopup {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--Black);
    margin: var(--margin);
    border-radius: var(--Border);
    border-bottom-right-radius: 0px;
    flex-direction: column;
}

.TitlePopUp {
    text-align: center;
    color: var(--DarkBlue);
    background-color: var(--Green);
    border-radius: var(--Border);
    padding: var(--smallmargin);
    margin: var(--margin);
}

.PublicProfile {
    display: flex;
}

.PublicProfileIMG {
    width: 100px;
    height: 100px;
    background-color: var(--White);
    border-radius: 50%;
    margin: var(--margin);
}

.EditImg {
    position: relative;
    height: 120px;
}

.EditImgBtn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Blue);
    border: none;
    border-radius: 30px;
    transition: 0.5s;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.EditImgBtn:hover {
    background-color: var(--Green);
}

.Data {
    display: flex;
    flex-direction: column;
}

.DataCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginLogo {
    width: 100px;
    height: auto;
    margin: var(--smallmargin);
}

.InputText {
    font-family: 'Quicksand', sans-serif;
    margin: var(--margin);
    margin-top: var(--smallmargin);
    margin-bottom: var(--smallmargin);
    color: var(--DarkBlue);
    background-color: var(--White);
    border: none;
    border-radius: var(--Border);
    font-size: var(--fonts);
    text-align: center;
}

.InputText:focus {
    border: solid;
    border-color: var(--Green);
}

.Btn {
    margin: var(--margin);
    font-family: 'Quicksand', sans-serif;
    font-size: var(--fonts);
    background-color: var(--Blue);
    border: none;
    padding: var(--margin);
    border-radius: var(--Border);
    color: var(--DarkBlue);
    transition: 0.5s;
}

.Btn:hover {
    background-color: var(--Green);
}

.NavBar {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    height: 100%;
    background-color: var(--Black);
    width: 80px;
    transition: 0.5s;
    box-sizing: border-box;
    padding: var(--margin);
    border-top-right-radius: var(--Border);
    border-bottom-right-radius: var(--Border);
}

.NavLogo {
    position: relative;
    width: 100%;
    opacity: 0%;
    transition: 0.5s;
}

.ProfileImgBG {
    top: 40px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    display: flex;
    position: fixed;
    background-color: var(--Green);
    margin: 0;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 85px;
    z-index: 2;
}

.ProfileImg {
    margin: 0;
    width: 70px;
    height: 70px;
    border-radius: 45px;
    background-color: var(--White);
}

.ButtonsSection {
    margin: 10px;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    position: fixed;
    z-index: 1;
}


.MenuBtn {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Blue);
    border: none;
    margin-bottom: var(--smallmargin);
    border-radius: 30px;
    transition: 0.5s;
}

.MenuBtn:hover {
    background-color: var(--Green);
    width: 160px;
}

.BtnIcon {
    color: var(--DarkBlue);
    width: 30px;
    height: 30px;
    margin: var(--smallmargin);
    transition: 0.5s;
}

.MenuBtnText {
    font-family: 'Quicksand', sans-serif;
    color: var(--DarkBlue);
    font-size: var(--fonts);
    width: 0px;
    transition: 0.5s;
    overflow: hidden;
    text-align: center;
    transition: 0.5s;
}

.ProfileImgBG:hover ~ .ButtonsSection .MenuBtn .MenuBtnText{
    width: 100px;
}

.AddIcon {
    color: var(--White);
}

.MenuBtn:hover .MenuBtnText{
    width: 100px;
}

.ProfileImgBG:hover ~ .ButtonsSection .MenuBtn .MenuBtnText{
    width: 100px;
}

.ProfileImgBG:hover ~ .ButtonsSection .MenuBtn{
    width: 160px;
}

.ProfileImgBG:hover ~ .NavBar {
    width: 180px;
}

.ProfileImgBG:hover ~ .NavBar .NavLogo {
    opacity: 100%;
}

.Table {
    display: flex;
    flex-direction: column;
    background-color: var(--ClearBlue);
    margin: var(--margin);
    max-width: 100%;
    border-radius: var(--Border);
    overflow: hidden;
}

.TableData{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

div::-webkit-scrollbar { 
    display: none;
}

.TableTitleBG {
    background-color: var(--Blue);
    border-radius: var(--Border);
    justify-content: center;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.TableTitle {
    font-family: 'Quicksand', sans-serif;
    font-size: var(--fonts);
    text-align: center;
    color: var(--Black);
}

.InfoTitleBG {
    background-color: var(--Blue);
    border-radius: var(--Border);
}

.InfoTitleText {
    color: var(--DarkBlue);
    padding: var(--smallmargin);
    max-width: var(--MaxTableElement);
    width: 100%;
    min-width: var(--MinTableElement);
    line-clamp: 1;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

table {
    border-collapse: collapse;
}

th, td {
    border-left: none;
    border-right: none;
    border-top: 5px solid var(--ClearBlue);
    border-bottom: 5px solid var(--ClearBlue);
}

.NotifyContainer {
    border-collapse: collapse;
    border: none;
    border-color: transparent;
}

tbody {
    width: 100%;
}

.InfoText {
    color: var(--DarkBlue);
    padding: var(--smallmargin);
    background-color: var(--White);
    line-clamp: 1;
    overflow-x: scroll;
    scrollbar-width: 0;
    max-width: var(--MaxTableElement);
    width: 100%;
    min-width: var(--MinTableElement);
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.NotifyScroll {
    width: 100%;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    max-height: 200px;
}

.NotifyContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.NotifyText {
    display: -webkit-box;
    background-color: var(--White);
    margin: var(--smallmargin);
    border-radius: var(--Border);
    padding: var(--margin);
    padding-top: 0px;
    padding-bottom: 0px;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}